.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f4f8;
  color: #333;
  align-items: center;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
}